modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 4200

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 35411
externalPort = 3003

[[ports]]
localPort = 36153
externalPort = 3000

[[ports]]
localPort = 40859
externalPort = 3002

[userenv]

[userenv.shared]
VITE_OPEN_ROUTER_API_KEY = "${OPEN_ROUTER_API_KEY}"
BYTEZ_API_KEY = "840ecbd12ca7f2cfd93354ebb304535e"
OPEN_ROUTER_API_KEY = "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"
